[2020-06-14 09:06] Abhishek-kumar09 opened #1 "Embed Youtube videos"
I think its a great idea to embed youtube videos and other coming up contents, blogs, articles, community, etc on a new page.
So that there is more to see when a user gets to our website.

[2020-06-22 20:29] KeenWarrior commented on #1
@Abhishek-kumar09 Hey. We were inactive for some time. Your idea is good and we can certainly use it.

We are adding up the link to Figma in the readme.

[2020-06-23 15:07] Abhishek-kumar09 commented on #1
As I heard about, `code for cause` website is going to be launched... Is this code is the codebase for that new website.

[2020-06-23 15:19] KeenWarrior commented on #1
@Abhishek-kumar09 Yes. This is the codebase for the website.

[2020-06-23 15:23] KeenWarrior commented on #1
[Figma PDF](https://github.com/codeforcauseorg/codeforcause.org/files/4820322/MacBook.Pro.-.53.pdf)

Here is the draft version of Figma structure. The complete version will be available soon.

Contributions are welcome.

[2020-06-24 07:38] Abhishek-kumar09 commented on #1
I think it will be a good idea to upload all the logos, assets, png, etc in the assets of development branch.

[2020-06-24 10:33] KeenWarrior opened #3 "Add header to Home page corresponding to given figma design"
Currently, there exists a header on the home page but that doesn't align with the prototype design.

We need to shift to provide design.

<img width="1410" alt="Screenshot 2020-06-24 at 4 01 53 PM" src="https://user-images.githubusercontent.com/25343183/85540049-285d9e00-b634-11ea-9244-bbf4d339060a.png">

[2020-06-24 14:45] KeenWarrior opened #6 "Add footer to Home page"
**Expected Result**

<img width="901" alt="Screenshot 2020-06-24 at 8 12 50 PM" src="https://user-images.githubusercontent.com/25343183/85577870-3e308a80-b657-11ea-8aa6-46478ac2474d.png">

[2020-06-24 14:48] KeenWarrior commented on #6
## Links
Instagram: https://instagram.com/codeforcause
linkedin: https://www.linkedin.com/company/codeforcauseorg
facebook: https://www.facebook.com/codeforcauseorg
youtube: https://youtube.com/codeforcause

## Blog
medium: https://medium.com/code-for-cause

[2020-06-24 14:53] KeenWarrior commented on #1
@Abhishek-kumar09 I have added 2 issues. You can choose which one you like and corresponding to that we can help you proceed.

[2020-06-24 14:57] Abhishek-kumar09 commented on #3
I would be working on it.

[2020-06-24 15:05] GangaChatrvedi commented on #3
Yes. Please proceed.

![logo](https://user-images.githubusercontent.com/55276189/85581365-260e3a80-b65a-11ea-8a0b-e0d21cfc0634.png)

[2020-06-25 19:17] Abhishek-kumar09 opened #7 "format script doesn't exist"
*ReadMe* says:

But `npm format` doesn't exist.

[code]
Available Scripts:
[code]
Maybe `lint` was the required script, but it again shows lots and lots of errors instead of formatting code.

[2020-06-26 11:15] Abhishek-kumar09 commented on #3
Can we remove unnecessary code from `main header component` which was earlier written.

[2020-06-26 11:17] GangaChatrvedi commented on #3
Yes. That will be good.

[2020-06-26 11:18] #3 closed

[2020-06-26 12:25] KeenWarrior commented on #1
This is not fitting in the current plan of home page. Closing this issue for right now.

[2020-06-26 12:26] #1 closed

[2020-06-26 12:39] KeenWarrior opened #10 "Add StandFor section in home page"
Expected result :

![Frame 8](https://user-images.githubusercontent.com/25343183/85857727-0735b280-b7d8-11ea-9f1c-47f4c3262dfe.png)

Content and assets will be added in the comment section by tomorrow. you can proceed with component structure till then.

[2020-06-26 12:40] KeenWarrior commented on #10
@Abhishek-kumar09 would you like to work on this?

[2020-06-26 12:57] KeenWarrior opened #11 "Update font family"
Update font family for the website to Montserrat

you can find the detail of font at https://fonts.google.com/specimen/Montserrat

[2020-06-26 12:59] KeenWarrior opened #12 "Add .nvmrc file"
Add .nvmrc file targetting to the latest node LTS version 12.16.1

[2020-06-26 13:11] KeenWarrior opened #13 "Update Date Time label in Online Events section"
Expected result :

<img width="890" alt="Screenshot 2020-06-26 at 6 33 18 PM" src="https://user-images.githubusercontent.com/25343183/85860423-6990b200-b7dc-11ea-8303-e4238c2a5eab.png">

[2020-06-26 13:45] Abhishek-kumar09 commented on #10
Ok, I would work on it.😇

On Fri, 26 Jun 2020 at 18:10, Anuj Garg <notifications@github.com> wrote:

--
*Thanking You*
*Abhishek*

[2020-06-26 13:55] KeenWarrior commented on #10
[StandForImage.svg.zip](https://github.com/codeforcauseorg/codeforcause.org/files/4837303/StandForImage.svg.zip)

[2020-06-27 19:02] GangaChatrvedi commented on #10
Closed with #15

[2020-06-27 19:02] #10 closed

[2020-06-29 08:57] #7 closed

[2020-06-30 19:07] #6 closed

[2020-07-03 13:55] Abhishek-kumar09 opened #26 "Add start Learning Today [View]"
![image](https://user-images.githubusercontent.com/48255244/86475694-c6ebac80-bd62-11ea-934d-c56951ba3042.png)

Do we have that play button svg already available?

[2020-07-04 14:04] GangaChatrvedi commented on #12
closed with #25

[2020-07-04 14:04] #12 closed

[2020-07-04 14:56] GangaChatrvedi commented on #26
Yes we have. Attaching it here :
[playBtn.zip](https://github.com/codeforcauseorg/codeforcause.org/files/4873028/playBtn.zip)

I've attached 2 images. Use what you feel suitable.

And also mobile view for this section should look like
[mobile_view.zip](https://github.com/codeforcauseorg/codeforcause.org/files/4872985/mobile_view.zip)

[2020-07-04 19:15] Abhishek-kumar09 commented on #26
I am working on it.

[2020-07-04 20:32] GangaChatrvedi commented on #26
Open https://www.youtube.com/codeforcause in new tab on clicking play button.

[2020-07-04 21:39] Abhishek-kumar09 commented on #26
Oh! I missed your comment, currently the `Link` is heading to `homepage`. I will make changes tomorrow cause I have switched off my laptop :)

[2020-07-05 11:14] GangaChatrvedi commented on #26
@Abhishek-kumar09 Take a look at [this](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword). It will help you create better PR description.

[2020-07-05 11:15] GangaChatrvedi commented on #26
Closed with #27

[2020-07-05 11:15] #26 closed

[2020-07-05 11:59] Abhishek-kumar09 commented on #26
Thanks @GangaChatrvedi , That was helpful.

[2020-07-05 12:48] KeenWarrior opened #28 "Add Testimonials section on home page"
Add this section in between WhatWeStandFor and Team section

you can take ref from https://github.com/codeforcauseorg/codeforcause.org/blob/development/design/home_view/home_web.pdf

Expected result

<img width="1416" alt="Screenshot 2020-07-05 at 6 15 04 PM" src="https://user-images.githubusercontent.com/25343183/86533012-bb77bd00-beeb-11ea-9a3d-cb6f2d9656de.png">

[2020-07-08 03:12] sailikhithk commented on #28
I can start working on this...

[2020-07-09 11:01] KeenWarrior commented on #28
@sailikhithk please go ahead

[2020-07-12 18:25] Abhishek-kumar09 commented on #13
@KeenWarrior @GangaChatrvedi, what is the good approach to add dates in events, so that it could gain functionalities like showing today, tomorrow, etc.
I was looking here for adding date https://www.w3schools.com/js/js_dates.asp. Is it the good way to add date or we have something else that comes out of the box for **react**

[2020-07-12 19:35] GangaChatrvedi commented on #13
You don't really need to look for alternative in react for this. You can do it using plain JS.

[2020-07-12 22:31] Abhishek-kumar09 commented on #13
@GangaChatrvedi, I just realised that it is hardcoded time for now. We can fix it in the future. and javascript `Date()` object could help us in that. :)

[2020-07-13 19:34] #13 closed

[2020-07-14 10:45] GangaChatrvedi commented on #28
@sailikhithk Are you still working on it?

[2020-07-14 11:10] Abhishek-kumar09 opened #41 "Add event date and time to calendar."
I think most of the developers use google calendar to manage events around them  to get reminded of the stuffs around them. Infact it is natively supported in android devices that could pop up the event dates and times in the notification panel.

We can add a google calendar in our website that could just take us to google calendar to mark the event dates so that no one could miss or forget our li

[2020-07-15 20:58] sailikhithk commented on #28
Hi @GangaChatrvedi and @KeenWarrior, apologies. couldn't go through it cuz of some other commitments. I would request you to assign it to someone else.

[2020-07-15 21:05] Abhishek-kumar09 opened #42 "SpeedOptimization 1: website load slower due to bigger image sizes"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/48255244/87595560-5b172580-c70c-11ea-9a6d-6b696fdd50a1.gif)
ALthough having a good internet speed, our website loads slower. This is clear that this is caused due to bigger image sizes that we actually dont need, because we are afterall using smaller resolution image on site.

WorkAround:
The mentors section should use smaller res

[2020-07-15 21:08] Abhishek-kumar09 commented on #42
This could help: https://stackoverflow.com/questions/2068344/how-do-i-get-a-youtube-video-thumbnail-from-the-youtube-api

[2020-07-16 17:11] sarthakkundra commented on #28
@KeenWarrior I would like to work on this.

[2020-07-16 17:16] icodechiranjib commented on #11
I'll work on this.

[2020-07-16 17:24] GangaChatrvedi commented on #28
Go for it @sarthakkundra

[2020-07-17 06:43] sarthakkundra commented on #28
@GangaChatrvedi is there any Slack, Discord etc. channel for discussion?

[2020-07-17 07:06] KeenWarrior commented on #28
Discord: https://discord.gg/sZfpv7W

-  room cfc-website

[2020-07-17 08:14] GangaChatrvedi commented on #28
[box.zip](https://github.com/codeforcauseorg/codeforcause.org/files/4936517/box.zip)
@sarthakkundra You can get idea about what should be done for the box part from this.

[2020-07-17 13:57] KeenWarrior commented on #42
We are planning to set up a nest js server and use API at https://developers.google.com/youtube/v3/docs/channels/list

and respond to the list to be displayed from youtube itself.

The idea originated after your PR. So kudos to you 🥳

[2020-07-17 13:57] #42 closed

[2020-07-17 14:44] Abhishek-kumar09 commented on #42
@KeenWarrior

wohaaa!! mai bhi nestjs sikh rha hu...maza aeyega.

Arre bhaiyaa, I know it was already in your mind. But thanks for praising.

[2020-07-17 14:49] Abhishek-kumar09 commented on #28
@sarthakkundra , For your help:
Almost all the code on homepage is written in https://github.com/codeforcauseorg/codeforcause.org/tree/development/src/views/pages/HomeView

Hope it would help you in digging through the codebase.

[2020-07-22 19:33] Abhishek-kumar09 commented on #11
@icodechiranjib Are you working on it?

[2020-08-06 12:44] GangaChatrvedi commented on #28
Closed with #46

[2020-08-06 12:44] #28 closed

[2020-08-06 21:35] Trimankaur commented on #41
Hi , I would like to work on this issue. I have done some research , currently the 'Our Online Events' section shows the information about the past session. I was wondering where are you planning to add the google calendar part.
![image](https://user-images.githubusercontent.com/29235241/89584677-12a9de00-d85a-11ea-8ebb-6840ea9bcd83.png)

[2020-08-07 10:33] Abhishek-kumar09 commented on #41
@KeenWarrior @GangaChatrvedi ping!

[2020-08-07 10:41] KeenWarrior commented on #41
@Trimankaur We are planning to integrate youtube API to fetch our new streams. So that problem should be solved after that.

Adding to google calendar is a separate challenge as we will need to create a google calendar event and associate its value to our event page.

I will check with team about the possibility of completing the base requirement for the same.

[2020-08-07 10:41] KeenWarrior commented on #11
@Abhishek-kumar09 You can proceed with it if you like to.

[2020-08-07 20:05] Trimankaur commented on #41
Okay @KeenWarrior. Thank you for the clarification , let me know whenever the base requirements are fulfilled.

[2020-08-22 17:19] pandafy opened #58 "Add link for pledge website"
Adding a section in footer for important links might be a good way to go.
Pledge website: https://pledge.codeforcause.org/

[2020-08-25 07:35] parshnt opened #60 "Optimize Loading Speeds"
The homepage takes up to 20 sec to load completely on a fast broadband connection.

This is due to larger than the required image sizes that can be optimized and still look good.

![waterfall](https://user-images.githubusercontent.com/29176704/91145161-aa208500-e6d2-11ea-8b07-cf143dde725e.PNG)

Solution:

The highlighted assets can be optimized i.e. should use the smaller and compressed pictures.

[2020-09-02 23:15] parshnt commented on #60
Commit c60d7a0a156f945c27499fd4de03a7cd8afc4db9 fixes this issue.

[2020-09-02 23:15] #60 closed

[2020-09-07 06:27] ankitwarbhe opened #68 "Option in top bar gets vanished"
when clicking on the campus leader option rest of the option gets vanished making difficult for the user to check other pages.

[2020-09-16 15:12] Abhishek-kumar09 commented on #68
https://codeforcause.org/campusLeaders
@GangaChatrvedi , Is it intententional.

[2020-09-16 15:16] Abhishek-kumar09 commented on #68
For Contributors help:
Header Files are here: https://github.com/codeforcauseorg/codeforcause.org/tree/development/src/layouts/MainLayout/TopBar

[2020-09-16 15:21] Abhishek-kumar09 opened #74 "The open source button is Inactive"
![image](https://user-images.githubusercontent.com/48255244/93357562-1455c100-f85e-11ea-9d0c-97d56aa3bea3.png)
The open source div is not serving any click events, Is it good idea that clicking on open source would redirect a user to our open source projects @codeforcauseorg.
What is your view?

[2020-09-16 15:21] GangaChatrvedi commented on #68
Yes @Abhishek-kumar09 . A lot of changes are already done which are not pushed to master branch yet. You can see those changes [here](https://sandbox.codeforcause.org/)

[2020-09-16 15:24] Abhishek-kumar09 commented on #68
Oh fab, It gone unnoticed by me damn.. Well the new design is more fantastic.

[2020-09-16 15:24] KeenWarrior commented on #74
We are about to replace that with login/signup very soon

[2020-09-16 15:25] Abhishek-kumar09 commented on #74
OK I see it now, https://sandbox.codeforcause.org/
Its great..
The issue should be closed now?

[2020-09-16 16:13] ankitwarbhe commented on #68
That's amazing we can consider these issue to be fixed after the push.

[2020-09-17 16:10] #68 closed

[2020-09-18 12:18] Abhishek-kumar09 commented on #74
Issue closed because unrelevant.

[2020-09-18 12:18] #74 closed

[2020-09-18 12:26] Abhishek-kumar09 opened #75 "Latency In Profile avatar sync"
![example-gif](https://user-images.githubusercontent.com/48255244/93597019-f744fd80-f9d7-11ea-9f85-cba00d7eafdd.gif)
We can either do some backend stuff to cache the user into our system or if not possible we could place a circular progress bar until the state of the user is known(loggedIn/Not)

[2020-09-18 14:44] Abhishek-kumar09 opened #76 "Code Clean-up suggestions"
src/components/PostCard

- [x] Files that can be deleted

| File | Remove Description |
| :--- | :--- |
| src/layouts/DocsLayout[Dir] | No Use |
| src/components/PostCard[Dir] | No Use |
| https://github.com/codeforcauseorg/codeforcause.org/blob/3ea24533ab0b2eb2efc935e9c32c541705073f2b/src/components/AuthGuard.js | Firebase Handles it |
| https://github.com/codeforcauseorg/codeforcause.org/blob/3e

[2020-09-18 14:51] Abhishek-kumar09 commented on #76
@GangaChatrvedi @KeenWarrior please have a look, I will do changes over your approval.

[2020-09-18 17:13] GangaChatrvedi commented on #76
We'll be including these 2 files soon :

https://github.com/codeforcauseorg/codeforcause.org/blob/3ea24533ab0b2eb2efc935e9c32c541705073f2b/src/components/AuthGuard.js

https://github.com/codeforcauseorg/codeforcause.org/blob/7aa5011cae6189cc2738f1601689ceb04fae68a1/src/components/GoogleAnalytics.js

You can process others to remove/ do corrections.

[2020-09-20 07:32] #76 closed

[2020-09-21 06:23] Roshan13046 commented on #11
Hi, I would like to work on this issue, can you please, suggest me ways to get started?

[2020-09-21 09:56] KeenWarrior commented on #75
The problem arises when the user has logged/removed out from other devices and other inconsistencies like that.

So it may happen that you show the user that they are in but then remove them and ask them to log in.

[2020-09-21 09:58] KeenWarrior commented on #11
@Roshan13046 This one is taken. Can you tell me what is your preference in issues? We are generating more of them. I can suggest some to you based on your interest.

[2020-09-21 09:59] KeenWarrior commented on #58
@pandafy Would you like to take up on this one?

[2020-09-21 12:46] Roshan13046 commented on #11
Please, Suggest issues related to HTML, CSS, js, react.
I would like to work on them.

[2020-09-21 12:52] Abhishek-kumar09 commented on #75
I didn't felt the same when I raised this issue.

Actually What I felt is:
Fetching data from Firebase takes some time, Untill the user data is not fully fetched, It is required to load a circular progress.

How you can recreate this?
1. Go to https://codeforcause.org/
2. Login with Google
3. Once Logged In refresh the browser again.
4. You can see the effect.

[2020-09-21 17:02] #11 closed

[2020-09-21 17:11] #75 closed

[2020-09-22 08:56] Abhishek-kumar09 opened #80 "The course view is not collapsing on clicking collapse button"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/48255244/93862358-90795a00-fcdf-11ea-929e-ff2d78ef5b52.gif)

[2020-09-22 08:58] Abhishek-kumar09 commented on #80
I would like to work on them.

@Roshan13046 Do you want to take it?

[2020-09-22 08:59] Abhishek-kumar09 commented on #80
Here is the link: https://codeforcause.org/ds-algo-with-java

[2020-09-22 09:24] Abhishek-kumar09 opened #81 "Dynamically change the remaining number of characters required."
![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/48255244/93865035-5ca03380-fce3-11ea-84e1-b6e04999a4a0.gif)
Dynamically change the number of remaining characters as user types in something.

[2020-09-22 09:26] Abhishek-kumar09 commented on #81
Steps to reproduce:
1. go to https://codeforcause.org/
2. Click on any course
3. click on apply
4. Fill the third step.

[2020-09-22 09:37] Abhishek-kumar09 opened #82 "No validation in Application Forms"
![ezgif com-video-to-gif(2)](https://user-images.githubusercontent.com/48255244/93866181-f74d4200-fce4-11ea-8c98-32ee8bc41f10.gif)

There must be validators for forms like:
- Mobile numbers can only have digits
- Email should have proper format
- Url and handles should be validated
- Year should be single digit.
- and so on.

[2020-09-22 09:41] Abhishek-kumar09 opened #83 "Make forms for Collaborate with Us panels"
![image](https://user-images.githubusercontent.com/48255244/93866728-aee25400-fce5-11ea-93a9-c20c1ec2aaa0.png)

Currently the user is redirected to google forms for submitting such requests, We should instead make our own forms and process internally.

[2020-09-22 14:37] Saif807380 commented on #82
Can I work on this?

[2020-09-22 14:54] Roshan13046 commented on #80
Yes, I have started working on the above issue.

[2020-09-22 15:12] KeenWarrior commented on #82
@Saif807380 Sure. You can ask here in case of any doubts

[2020-09-22 15:33] Saif807380 commented on #82
I had a few queries

1. Should contact number include country code?
2. Is there an upper limit to Year field?

[2020-09-22 15:49] KeenWarrior commented on #82
If we can include the coutry code that will be nice. We can preselect the country with help of https://ipstack.com/ and then provide a selector to change it.

Convert year to dropdown select with value range 1 to 6

[2020-09-22 19:03] Abhishek-kumar09 commented on #80
Here is the required folder:
https://github.com/codeforcauseorg/codeforcause.org/tree/development/src/views/pages/Courses

[2020-09-22 19:04] Abhishek-kumar09 commented on #80
This is the required file I guess: https://github.com/codeforcauseorg/codeforcause.org/blob/development/src/views/pages/Courses/Schedule.js

[2020-09-22 19:07] Abhishek-kumar09 commented on #82
@Saif807380 Here is the required file to start with
https://github.com/codeforcauseorg/codeforcause.org/blob/development/src/views/pages/CLView/ApplyNowModal.js

[2020-09-23 04:56] Saif807380 commented on #82
Thanks, @Abhishek-kumar09. I have made the changes and submitted a PR (#84). Please review.

[2020-09-23 05:08] vandana1499 commented on #81
May I know the file name for reference?

[2020-09-23 07:57] Abhishek-kumar09 commented on #81
Here is the code reference: https://github.com/codeforcauseorg/codeforcause.org/blob/development/src/views/pages/ApplicationsView/ApplicationSteps.js#L471-L538

Please open a PR against development branch.

[2020-09-23 07:57] Abhishek-kumar09 commented on #81
@vandana1499  Should I assign it to you?

[2020-09-23 14:08] KeenWarrior commented on #82
Solved by @Saif807380  in #86

[2020-09-23 14:08] #82 closed

[2020-09-23 16:40] aymenhamada commented on #81
HI, check my PR please.

[2020-09-23 18:21] Abhishek-kumar09 opened #89 "Route to 404 is broken"
Tapping to any random url is taking to blank page, instead the user should have routed to 404 page.

[2020-09-23 19:44] shankhanil007 commented on #89
I would like to work on this issue.

[2020-09-23 20:41] Abhishek-kumar09 commented on #89
Great! Let us know if you stuck somewhere.

[2020-09-24 11:25] Abhishek-kumar09 opened #90 "Integrate Hello-bar with the Website"
We need to show customized popups, anouncements and recomendations. I think hello-bar is good to start with.

[2020-09-24 11:25] Abhishek-kumar09 commented on #90
I will be working on it.

[2020-09-24 11:27] Abhishek-kumar09 commented on #81
Fix is merged.

[2020-09-24 11:27] #81 closed

[2020-09-24 13:10] shankhanil007 commented on #89
Is the 404 page already designed?

[2020-09-24 16:03] Abhishek-kumar09 opened #92 "Remove all the errors from the development console of website"
---
You can remove some number errors from the console and create a PR in chunks like removing some at a time
---

We are having many errors total 20 - 21 currently with rendering or other components. Reduce to 0 error is our goal.
Steps to reproduce:
- start the development server with `npm run start`
- open console
- watch error panel

![ezgif com-video-to-gif](https://user-images.githubusercont

[2020-09-24 17:22] Abhishek-kumar09 commented on #89
Yes, it is here: https://github.com/codeforcauseorg/codeforcause.org/blob/3ea24533ab0b2eb2efc935e9c32c541705073f2b/src/views/pages/Error404View.js

[2020-09-24 17:38] #90 closed

[2020-09-24 19:26] shankhanil007 commented on #89
Got It! I have sent a PR. Kindly review it.

[2020-09-25 04:19] covalentbond opened #95 "Scroll Reset Component is not functioning, when switching to different routes"
While switching to a different route
The scroll postion is expected to move to top ( window.scrollTo(0, 0) )
But it remains fixed and does not work the way it was expected in the function

[2020-09-25 07:38] gautamkrishnar opened #96 "Text not readable"
<img width="1429" alt="Screenshot 2020-09-25 at 1 03 50 PM" src="https://user-images.githubusercontent.com/8397274/94239760-e8a69b00-ff2f-11ea-8c52-1d8c2d5bc582.png">

[2020-09-25 09:18] covalentbond commented on #95
The possible reason I could find out is that location.state is undefined, it should be either null but not undefined
![image](https://user-images.githubusercontent.com/53327173/94249905-24486180-ff3e-11ea-8648-b572f424ebd8.png)

[2020-09-25 13:17] KeenWarrior commented on #96
@gautamkrishnar  Are you using some kind of plugin?

In https://sandbox.codeforcause.org, the original work seems to work perfectly

[2020-09-25 13:27] gautamkrishnar commented on #96
@KeenWarrior just tried on my mobile too. The url you shared is showing like this on Chrome. I am not using any plugins:
![Screenshot_20200925-185553.jpg](https://user-images.githubusercontent.com/8397274/94272630-ea3c8700-ff60-11ea-9ac9-0f119ee1930a.jpg)

[2020-09-25 13:31] gautamkrishnar commented on #96
@KeenWarrior, it is happening because the background color is set as `#EEF5FF` for the div but it is `#F2F6FF` in the wireframe. Font color is also different please check the PR: #97 :

<img width="1414" alt="Screenshot 2020-09-25 at 6 59 08 PM" src="https://user-images.githubusercontent.com/8397274/94273011-7f3f8000-ff61-11ea-9bf0-c6bf10dfdf06.png">

[2020-09-25 15:15] KeenWarrior commented on #95
You can also take a look at https://stackoverflow.com/a/39345165

[2020-09-25 15:15] #89 closed

[2020-09-25 16:01] gautamkrishnar commented on #96
@KeenWarrior looks like this is a browser-specific issue when enabling dark mode: https://github.com/codeforcauseorg/codeforcause.org/pull/97#issuecomment-699010871

[2020-09-25 21:30] covalentbond commented on #95
Hi, so yes I already tried using useEffect and the clean up function, wrapping with withRouter
As below

[code]
But it was also not working as it was expected.

Tested the existing ScrollReset Component of the directory and the above new component in another project of mine.
Both worked over there, but not functioning here
Was unable to find the actual reason behind this

[2020-09-26 04:49] #96 closed

[2020-09-26 13:55] KeenWarrior commented on #95
This seems like a complication. Are you feeling comfortable working on it? Or need someone associated with you on it?

[2020-09-26 14:00] covalentbond commented on #95
Yes, it would be better

[2020-09-27 10:17] Harshit-Dandriyal commented on #92
I would like to work on this issue

[2020-09-27 10:26] Abhishek-kumar09 commented on #92
@Harshit-Dandriyal
Its already taken by @aymenhamada, We will open some new issues or you could also submit some new ones if you found any problem.

[2020-09-27 12:13] Harshit-Dandriyal commented on #83
I want to work on this

[2020-09-27 12:29] pandafy commented on #58
Apologies for late reply @KeenWarrior. I will surely take this one, but if anyone else wants to work on this before me they can go ahead.

[2020-09-28 02:00] ujjwal404 opened #101 "Login button overlapping with logo in mobile view"
![WhatsApp Image 2020-09-28 at 7 29 00 AM](https://user-images.githubusercontent.com/63122405/94383033-7ebf0900-015c-11eb-9fe7-1f311696be1b.jpeg)

[2020-09-28 12:13] Abhishek-kumar09 commented on #101
A big thank to you for opening this issue, It was gone unnoticed.

[2020-09-28 15:10] Navya-Andra commented on #101
I want to work on this issue. Please assign it to me.

[2020-09-28 15:19] Abhishek-kumar09 commented on #83
Hey @Harshit-Dandriyal, we want a new page for these sections. I will be sharing designs for them soon.

[2020-09-28 15:20] Abhishek-kumar09 commented on #101
Really sorry, I had just linked a PR fixing it. But I have another issue that you can solve. I will ping you there once I open it.

[2020-09-28 15:27] Abhishek-kumar09 opened #103 "Distortion in check details button on smaller devices."
Distortion in check detail button on smaller/mobile screens:
[see image](https://user-images.githubusercontent.com/48255244/94452010-b36aa900-01cc-11eb-8323-1ab5c79d4207.png)

**Steps to reproduce:**
1. Visit codeforcause homepage on mobile device
2. scroll down to course section
3. Check details button is cropped from bottom.

[2020-09-28 15:28] Abhishek-kumar09 commented on #103
@Navya-Andra Do you want to look at it.

[2020-09-28 15:45] Navya-Andra commented on #103
Thank you for considering. I will work on it. please assign.

[2020-09-29 05:08] madhhuurrii opened #104 "Overlapping of home page cards"
## Description
The Code for cause card is overlapping with the mentors card in home page in mobile view.
## Steps to reproduce
1. Click on live website
2. Scroll through homepage
3. See the error
## Screenshot
![20200929_103541](https://user-images.githubusercontent.com/64744084/94514790-bbaffc00-023f-11eb-81ee-5589cd777038.jpg)

## Mobile
OS: Android 10
Model: Samsung Galaxy M30s
Browser : Samsun

[2020-09-29 08:54] Abhishek-kumar09 commented on #104
@madhhuurrii Thank you very much for opening this issue: We are fixing it in https://github.com/codeforcauseorg/codeforcause.org/pull/102

[2020-09-29 14:36] covalentbond commented on #95
If anyone else is interested, can take this issue. I am currently not able to debug it

[2020-09-30 11:34] Abhishek-kumar09 opened #107 "Add check for unused vars in npm run format"
Actually everytime some unused variables are left out while pushing code to github even after running `npm run format`.
And netlify preview fails building.
![image](https://user-images.githubusercontent.com/48255244/94680024-b8e80080-033e-11eb-83be-6de8b761977e.png)

AIM: Add `no unused var` check on `npm run format`

[2020-09-30 11:59] Harshit-Dandriyal commented on #107
I am on it @Abhishek-kumar09

[2020-09-30 12:59] Abhishek-kumar09 commented on #107
changes will likely to be done at `prettier.rc`

[2020-09-30 13:11] #101 closed

[2020-09-30 15:28] Abhishek-kumar09 commented on #104
Fixed is merged.

[2020-09-30 15:28] #104 closed

[2020-09-30 17:59] pandafy opened #108 "[docs] Broken link in README"
I found this link to be broken in REAME. Moreover, I think that this should be https://sandbox.codeforcause.org instead, but I am not sure.

https://github.com/codeforcauseorg/codeforcause.org/blob/3ea24533ab0b2eb2efc935e9c32c541705073f2b/README.md#L8

[2020-09-30 18:09] pandafy opened #109 "Commented out sections of Code"
I have seen commented out sections of code in multiple files. I don't understand their purpose as they are just code and does not conveys any useful information. In my opinion, it will be better to remove them to improve code quality.

[2020-09-30 18:34] pandafy opened #110 "[bug] Apply now button disabled"
From user experience perspective, I believe it will be better to change "Apply Now" to "Coming Soon" if that's the case.
Also the link points to a form to signup for Code For Cause [newsletter](https://cdn.forms-content.sg-form.com/34a5f5b6-c515-11ea-ae40-26ea0c9b1f0c). Is this desirable?

![Screenshot from 2020-09-30 23-42-56](https://user-images.githubusercontent.com/32094433/94723749-dc2ea200-0

[2020-09-30 19:06] KeenWarrior commented on #108
Yes. we have removed auth from authbox for firebase.

[2020-09-30 19:09] pandafy commented on #108
@KeenWarrior should this be entirely removed or changed to https://sandbox.codeforcause.org? Doing later, doesn't makes much sense since this link is mentioned in the section below.

[2020-09-30 19:54] Abhishek-kumar09 commented on #103
@Navya-Andra Here is the code: https://github.com/codeforcauseorg/codeforcause.org/blob/development/src/views/pages/common/CourseCard.js#L198-L219

[2020-10-01 04:25] prichoms commented on #109
can i work upon it?

[2020-10-01 11:06] Abhishek-kumar09 commented on #80
@Roshan13046 Are you working on it.

[2020-10-01 13:28] madhhuurrii commented on #110
Hii I would like to work on this issue , but should i have change the link too to some other along with "coming soon" button

[2020-10-01 13:36] madhhuurrii commented on #80
Hii @Abhishek-kumar09 ,if roshan isnt working in this issue , i would like to work on this

[2020-10-01 14:34] #108 closed

[2020-10-01 17:50] Abhishek-kumar09 commented on #80
Okay, lets wait for some more hours to get a reply from him although he is not looking active on this thread.
You can start working on if more eager.

[2020-10-02 06:46] varun14gb opened #115 "Multiline input field on Events page breaks on devices smaller with width less than 500px"
Multiline input field on Events page breaks on devices smaller with width less than 500px
It is having width greater than screen width.
![Screenshot (93)](https://user-images.githubusercontent.com/38114116/94895305-c91bef00-04a8-11eb-94f9-1d9a2deb57de.png)

I would like to work on this issue.

[2020-10-02 08:09] Abhishek-kumar09 commented on #80
@madhhuurrii you can start working now.

[2020-10-04 04:53] #115 closed

[2020-10-04 16:52] ArunTeltia opened #119 "Scrollbar looks dull in the website"
Can I customize the scroll bar in the website so that it will not look dull like present
I will send the screenshot before the pull request
Can i work on this ?
Edit : I think this will look great with the website theme
![scroll](https://user-images.githubusercontent.com/43555219/95021725-5705fe80-0690-11eb-9287-3c5464a8eb8b.JPG)

[2020-10-04 17:02] ArunTeltia commented on #107
@Harshit-Dandriyal are you working on this issue
@Abhishek-kumar09 can i work on this ?

[2020-10-04 17:32] Abhishek-kumar09 commented on #119
@ArunTeltia Go on, we will be looking for your PR.

[2020-10-04 22:04] ArunTeltia commented on #119
check this out i think this is looking great with the current theme of the website @Abhishek-kumar09
![scc](https://user-images.githubusercontent.com/43555219/95028117-99910080-06bb-11eb-8743-30762a6010e8.JPG)

[2020-10-04 22:16] Abhishek-kumar09 commented on #119
Please make a PR against the development branch, and we will discuss further there. To me it is looking good.

[2020-10-04 22:31] ArunTeltia commented on #80
@madhhuurrii are you working on this?

[2020-10-05 01:47] madhhuurrii commented on #80
I tried, but couldn't complete this @ArunTeltia if you want to do it please go ahead

[2020-10-05 02:15] ArunTeltia commented on #83
I want to work on this page ,If the design is ready @Abhishek-kumar09

[2020-10-05 03:11] ArunTeltia opened #122 "make semi colon field = always in eslint"
we can add semi rule to eslint so that semi colon is added to the places where one forget to add after running ``` npm run format ```

Eslint docs: https://eslint.org/docs/rules/semi

Summary of Requirements
- [ ] New rule added to eslint rc
- [ ]  npm run format used to fix any violators

I want to work on this

[2020-10-05 04:54] Navya-Andra commented on #103
this link is throwing 404 error

[2020-10-05 08:42] Abhishek-kumar09 commented on #103
because it has been migrated.
https://github.com/codeforcauseorg/codeforcause.org/blob/development/src/components/Course/CourseCardTemplate1.js

[2020-10-05 08:59] Abhishek-kumar09 commented on #83
@ArunTeltia  Sure, I will update you the things once ready.

[2020-10-05 09:31] Roshan13046 commented on #80
No, I am not working on this issue. If anybody wants to work on it.
Please go ahead.

[2020-10-05 10:49] pandafy commented on #110
@Abhishek-kumar09 @KeenWarrior can you please tell if this is expected behaviour? If not can you please tell what path should be taken for this?

[2020-10-05 11:25] Abhishek-kumar09 commented on #110
Its a good idea...thanks.

I guess it is about getting personalized event updates and course updates, etc. It is desired.

[2020-10-05 11:25] Abhishek-kumar09 commented on #110
No the button would be disabled and will not follow up to any link.

[2020-10-05 11:44] ujjwal404 commented on #92
It is showing error during authentication.

![Screenshot 2020-10-05 at 5 08 04 PM](https://user-images.githubusercontent.com/63122405/95075598-1361d200-072e-11eb-9ef8-01d0c15db9e1.png)
![Screenshot 2020-10-05 at 5 08 14 PM](https://user-images.githubusercontent.com/63122405/95075609-1957b300-072e-11eb-906f-65cc81c83ec4.png)

[2020-10-05 12:03] ujjwal404 opened #123 "Console shows firebase auth token just after logging in"
![Screenshot 2020-10-05 at 5 19 43 PM](https://user-images.githubusercontent.com/63122405/95077216-bae00400-0730-11eb-980b-81a3a5eaed8b.png)

[2020-10-05 13:30] ArunTeltia commented on #80
#80 fixed via #121
please close this issue @Abhishek-kumar09

[2020-10-05 13:43] Abhishek-kumar09 commented on #80
Thanks

[2020-10-05 13:43] #80 closed

[2020-10-08 08:32] Abhishek-kumar09 commented on #103
Contributions are welcome.

[2020-10-08 08:35] Abhishek-kumar09 commented on #103
Contributions are welcome, she cannot complete this PR due to her exams and technical difficulties from her end.

[2020-10-10 09:17] KeenWarrior commented on #123
A simple console log needs to be removed from authservice.js file. would you like to work on it?

[2020-10-10 14:43] ujjwal404 commented on #123
@KeenWarrior Yes I've fixed it in PR #124 and it has been approved too.

[2020-10-10 20:35] Abhishek-kumar09 commented on #123
Fixed in #124

[2020-10-10 20:35] #123 closed

[2020-10-12 19:00] ArunTeltia commented on #95
I am working on this

[2020-10-13 01:51] ArunTeltia commented on #95
@Abhishek-kumar09 Have you tried this?
https://www.npmjs.com/package/react-router-scroll-top

[2020-10-13 08:28] Abhishek-kumar09 commented on #95
Not yet.

[2020-10-13 21:22] ArunTeltia commented on #95
OKay i am trying it then

[2020-10-14 23:42] ArunTeltia commented on #95
So I tried a lot of things but nothing works, The problem with this is the page is in the form of overflow:scroll now when we are trying to make it to ScrollTop the page render this component but the problem here is The page is already on top (because of the TopBar) , We can resolve this issue but we need to make the overflow to be visible
Now the problem with this we have to give margin-bottom on

[2020-10-17 05:21] Abhishek-kumar09 opened #137 "Put a placeholder until data is loaded from axios"
https://github.com/codeforcauseorg/codeforcause.org/blob/d22cc28cbeedef8557d08a8b063a9910fbd49b26/src/views/pages/HomeView/Events.js#L119-L121
Currently null is returned untill the data is fully loaded, we don't want it. Else there should be some placeholder there that displayed untill the data is fully loaded.

You can see this with landing on the homepage, and realising that the `*Events Section

[2020-10-22 15:35] amity-ak97 commented on #137
Hey, I would love to work on this. Assign me and please help me understand this issue in detail.

[2020-10-22 22:02] Abhishek-kumar09 commented on #137
Go on codeforcause.org, on the topbar click on events.
You will feel that nothing is rendered untill the data is loaded, We want to have some placeholder or loader there so as to expect some data yet to come. Currently, the things are rendered spontaneously disturbing the scroll position which may not be expected by the user.
The changes will likely to be done at the line linked in the PR descript

[2020-10-27 00:36] harshhhdev opened #142 "[Suggestion] Add issue and pull request templates."
Adding issue and pull request templates makes organization much easier, and makes a smoother collaboration for both the devs, and the people opening pull requests/issues.

If you like, I can create a PR for it. Alternatively, you can add it yourself, it's not very hard :smile:

[2020-10-27 00:39] harshhhdev opened #143 "[Suggestion] Better hover effects."
The current hover effects are plain, simple, and not very fun. Making cooler hover effects for things can have the following possible advantages

 - Make people stay on the website longer.
- Make people be more likely to buy the course.
- Just have a better user experience on the site overall.

[2020-10-27 00:40] harshhhdev commented on #143
I'd like to suggest something not too crazy, something simple yet fun

https://anuraghazra.github.io/ -- this website shows a perfect example of clear, and clean hover effects which are simple, cool, and not boring.

[2020-10-27 00:40] harshhhdev commented on #143
If this is approved, I'd like for this to be assigned to me.

[2020-10-27 00:41] harshhhdev opened #144 "[Feature request] dark mode"
Add a simple setting which makes the website go light, or dark, for the creatures of the night.

[2020-10-27 00:43] harshhhdev opened #145 "[Feature request] better scrollbar."
![image](https://user-images.githubusercontent.com/69592270/97243011-b3f65f80-17cb-11eb-9846-ab05695dcb8f.png)

The current scroll bar, in my humble opinion, does not look very pretty (even worse than the default one). Now, compare this to something like,

![image](https://user-images.githubusercontent.com/69592270/97243044-cc667a00-17cb-11eb-888d-d4161bb7855e.png)

and you can already start to se

[2020-10-27 10:47] amity-ak97 commented on #137
Hey @Abhishek-kumar09, I am new here and am struggling to set up the local development environment for this project. Any suggestions for me? Thanks.

[2020-10-27 16:33] Abhishek-kumar09 commented on #137
No problem @amity-ak97, just tell me where you need a help.
What are your error logs and where are you failing?

[2020-10-27 18:42] Abhishek-kumar09 commented on #143
Where do you think the hover effect should better?

[2020-10-27 18:46] Abhishek-kumar09 commented on #145
Oh yes, this scrollbar has been changed with this https://github.com/codeforcauseorg/codeforcause.org/pull/140. Its simple on mobile because mobiles have touches and don't need scrollbar most often, so *auto hiding*  the scrollbar on mobile, and a black scrollbar is made on the laptops and for larger screens, without that border ofcourse.
Whats your opinion on it?

[2020-10-27 18:48] Abhishek-kumar09 commented on #144
Fantastic one!
We thought of it earlier but could not apply due to several other things on pipeline.
Do you want to got for it?

[2020-10-27 19:24] harshhhdev commented on #145
Sounds good. Can I work on it?

[2020-10-27 19:27] harshhhdev commented on #144
Yeah, glad to do it!

[2020-10-27 19:31] Abhishek-kumar09 commented on #145
Its already in progress (That black border was somewhat looking bad, so removed that), this is deployed website: https://deploy-preview-140--eloquent-turing-542749.netlify.app/
You can check it out, and tell us if you need some further improvements in the scrollbars.

[2020-10-27 19:32] Abhishek-kumar09 commented on #144
Great! Thanks for showing your interest :)

[2020-10-27 19:34] harshhhdev commented on #145
Oh no, looks great now. Nice work :+1:

[2020-10-27 19:34] #145 closed

[2020-10-28 02:57] amity-ak97 commented on #137
@Abhishek-kumar09
There are no errors actually, I need the help to launch the website locally.

[2020-11-03 04:23] Saif807380 opened #147 "[Suggestion] Create separate databases for production and development"
I was assigned to #82 which required me to add validation to the Campus Leader Application Form. Before creating a pull request #86, I tested the changes with my credentials to check whether the validation was working or not. I assumed that there would be separate databases for production and development.

However, this morning I received an email that I was selected as the Campus Leader. I have m

[2020-11-07 14:49] Abhishek-kumar09 commented on #147
Thanks for letting us know! @Saif807380

[2020-11-07 14:55] Abhishek-kumar09 opened #148 "Make the testimonial flow unidirectional infinite."
![image](https://user-images.githubusercontent.com/48255244/98444319-fc503e80-2136-11eb-8521-ab2686821b20.png)
The testimonial section follows reverse motion when all the array of cards is shown, we should make it unidirectional infinite.

[2020-11-09 18:33] covalentbond opened #152 "Remove all the unused dependencies which are nowhere used"
There are many dependencies like "react-quill", "formik", "immutable", "react-draft-wysiwyg" and many more...

![image](https://user-images.githubusercontent.com/53327173/98581709-e3d35600-22e7-11eb-9047-65b55363c2ab.png)

[2020-11-10 10:12] #148 closed

[2020-11-10 11:22] Abhishek-kumar09 commented on #152
Thanks @covalentbond for raising this detailed issue.

Ya, they are used no where.

For the image - These all are unused, but the similar ones are used within the code, Please assure that the code functionality is not compromised by removing them.

[2020-11-10 12:36] covalentbond commented on #152
Those which are shown in the image have not been imported anywhere in the code. The image is a result of a library "depcheck" which shows the unused dependencies.

But it cannot be completely correct, as it showed "keycloak-js" as one of the unused dependencies as it's not imported. But "keycloack-js" is also not imported but actually used in one of the files.

The only way to this is checking man

[2020-11-15 11:15] Abhishek-kumar09 commented on #119
Closed

[2020-11-15 11:15] #119 closed

[2020-11-21 15:57] #95 closed

[2020-11-21 15:57] #137 closed

[2020-12-06 03:29] deekshithpranav commented on #103
Hello, @Abhishek-kumar09 I am a beginner and I would like to work on this, can you help me get started?

[2020-12-06 07:42] Abhishek-kumar09 commented on #103
Yes, it is solved in some random PR.
Thanks for showing your interest.
I would suggest you some other beginner friendly issue.

[2020-12-06 07:42] #103 closed

[2020-12-06 09:13] deekshithpranav commented on #103
Thanks. That would be great ☺️, let me know if there are any beginner-friendly issues.

[2021-01-12 05:55] Itsaadarsh commented on #152
Hello, there @Abhishek-kumar09 @covalentbond , is this issue still open? Because I'd love to work on this issue and resolve it.

[2021-01-12 07:57] Abhishek-kumar09 commented on #152
@Itsaadarsh  It's open.
But would you help in removing some console errors from the website first. This way you could learn more about codebase, and they are pretty easy too. You could remove few of them and make a PR.
https://github.com/codeforcauseorg/codeforcause.org/issues/92

[2021-01-12 07:58] Abhishek-kumar09 commented on #152
Always feel free to tag me, as sometimes conversations are missed, and the fault is totally mine.

[2021-01-12 09:39] Itsaadarsh commented on #152
Yes sure thing @Abhishek-kumar09 , but first I'll send (#152) PR then I'll move towards the next. Because I'm done removing all the unused dependencies, I'll clean up a little and send the PR asap.

[2021-01-12 13:12] Abhishek-kumar09 commented on #152
Great! thanks.

[2021-01-13 09:59] Itsaadarsh commented on #92
Hello there @Abhishek-kumar09 , I just sent a **PR** for this issue kindly review it and let me know if anything is needed.

[2021-01-16 06:14] chinmaym07 commented on #144
Hey @Abhishek-kumar09 can I work upon this issue .?

[2021-01-16 16:13] harshhhdev commented on #144
I really apologise, with school and other side projects I haven't found the time to really work on this. Hope you can understand.

[2021-01-16 18:49] Abhishek-kumar09 commented on #144
No worries, I understand. But I am re-opening this issue, so that other could come across and solve it. Thank You for opening it.

[2021-01-24 17:37] Abhishek-kumar09 opened #199 "Create Hire-With-Us page"
We code for cause are commited to provide opportunities to everyone we know, for maximizing the reach to job providers an Hire-with-us page is strongly needed.
We can make this by breaking things into components:
Download full pdf prototype:

[Hire With us-min.zip](https://github.com/codeforcauseorg/codeforcause.org/files/5862915/Hire.With.us-min.zip)

There are smaller issues linked to it, we sho

[2021-01-24 17:47] Abhishek-kumar09 opened #200 "Create Hire-With-Us Hero component"
Create hire-with us Hero component
Here is the hero component:
![image](https://user-images.githubusercontent.com/48255244/105638564-352bc400-5e99-11eb-835b-1ced73184db1.png)

Here is the full prototype: https://github.com/codeforcauseorg/codeforcause.org/issues/199

[2021-01-24 17:50] Abhishek-kumar09 opened #201 "Create Hire-with-us component-2"
Here is the component design
![image](https://user-images.githubusercontent.com/48255244/105638762-94d69f00-5e9a-11eb-9433-44f3aeb99177.png)
Here is the full prototype: #199

[2021-01-24 18:01] Abhishek-kumar09 opened #202 "Create Hire-With-Us component 3"
Here is the component design:
![image](https://user-images.githubusercontent.com/48255244/105639096-4e823f80-5e9c-11eb-8dcc-029c56648eb9.png)
here is the full prototype #199

[2021-01-28 16:59] mdPial commented on #199
Hello, I would like to work on that issue 😃

[2021-01-28 17:35] Abhishek-kumar09 commented on #199
@mdPial, sure! you can start with making any of the component in the referenced issues,
We use material-ui for the project, you can definately look onto it.
For any resources, images etc, reach out to me. I am more than happy to help.

[2021-01-28 17:36] Abhishek-kumar09 commented on #199
You can comment on any of the referenced issue for the components you want to make.

[2021-01-28 17:41] mdPial commented on #199
Sure. Your friendly attitude has reduced my nervousness. Thank you.

[2021-01-28 17:53] Abhishek-kumar09 commented on #200
Yes, I could provide you the background image that will help you for now.

[2021-01-28 17:57] Abhishek-kumar09 commented on #200
[Rectangle 1047.zip](https://github.com/codeforcauseorg/codeforcause.org/files/5889139/Rectangle.1047.zip)

[2021-01-28 18:06] Abhishek-kumar09 commented on #199
You are lovely too!

[2021-01-28 18:08] Abhishek-kumar09 commented on #200
You can reach out for any other help

[2021-01-28 18:26] mdPial commented on #200
Sure. I will 😃️

[2021-01-29 05:34] mdPial opened #205 ""node_modules/agent-base/dist/src/index not found" error"
I don't know I am the only one is getting this error or not. I think we could exclude the node_modules.
![image](https://user-images.githubusercontent.com/43095489/106235685-5e47ae00-6225-11eb-8b78-effd432e2907.png)

[2021-01-29 08:07] mdPial commented on #200
Will the image location of Rectangle 1047.png like this?
.
├── public
	├── static
		├── images
			├── hire with us
				├── Rectangle 1047.png

[2021-01-29 08:10] PranxXxD commented on #92
Hi, I would like to work on this issue, can you suggest me the ways?

[2021-01-29 09:06] Abhishek-kumar09 commented on #92
@PranxXxD This issue is already taken by @Itsaadarsh, I can suggest you some other issues if you want.

[2021-01-29 09:19] Abhishek-kumar09 commented on #200
yes

[2021-01-29 09:22] PranxXxD commented on #92
okay!

[2021-01-29 09:52] PranxXxD commented on #199
Hey!, I would like to work with the issue, help me so that I can start with it

[2021-01-29 10:22] Abhishek-kumar09 commented on #199
@PranxXxD you can start with component2 or component 3. Just comment on the respective component you want  to choose.
Infact you can try making any of the component from https://github.com/codeforcauseorg/codeforcause.org/files/5862915/Hire.With.us-min.zip

Just comment or create an respective issue for the component you are making. Any other help from react or anything, you can contact me with ta

[2021-01-29 10:24] Itsaadarsh commented on #92
Hey @Abhishek-kumar09 why is PR not yet merged? I there something needed from my end?

[2021-01-29 12:18] Abhishek-kumar09 commented on #205
@mdPial which command got you there with these errors?

[2021-01-29 12:43] Abhishek-kumar09 commented on #92
Really sorry from our side, we got more busy these days and things got left.

[2021-01-29 12:50] mdPial commented on #205
after running `npm install` . I have tried couple of time `npm install` that time to see, was there anything missing. But it showed that error everytime. May be it is a problem of **npm**. After deleting the local repository I again cloned into local machine and tried `npm install`  and that time error didn't occurred.

[2021-01-29 13:26] mdPial commented on #200
Do I need to use **HeroWithLogo** component to design this component?. I am facing issue to making the component look like this because of the background image by using that component.

[2021-01-29 13:56] Abhishek-kumar09 commented on #200
You could use that or create your own component in different file with doing some changes to `heroWithLogo` component.

[2021-01-29 13:56] Abhishek-kumar09 commented on #205
coool

[2021-01-29 14:12] mdPial commented on #200
Okay.

[2021-01-30 08:25] PranxXxD commented on #199
@Abhishek-kumar09 I would like to get started with the #202

[2021-01-30 09:06] Abhishek-kumar09 commented on #202
@PranxXxD
For the help those rectangles could be made something like:
[code]

Here is the png image:
[im.zip](https://github.com/codeforcauseorg/codeforcause.org/files/5897661/im.zip)

[2021-01-30 09:31] PranxXxD commented on #202
@Abhishek-kumar09 can please more specify with the issue!

[2021-01-30 09:32] PranxXxD commented on #202
@Abhishek-kumar09 can you please more specify with the issue!

[2021-01-30 11:09] Abhishek-kumar09 commented on #202
You have to make a component something like seen in the PR description, You have to put your component in the `src/components` folder.
You can add a route to your component in `src/routes.js`

[2021-02-01 07:15] mdPial commented on #200
![image](https://user-images.githubusercontent.com/43095489/106426272-85091d00-648f-11eb-8bcc-6413c13fd953.png)

Are everything alright?

[2021-02-01 07:54] Abhishek-kumar09 commented on #200
@mdPial  We will discuss the rest in the PR. Please create a PR against development branch after running `npm run format`

[2021-02-01 10:55] mdPial commented on #200
@Abhishek-kumar09  Please check my PR. I have made a pull request.

[2021-02-02 10:34] Abhishek-kumar09 commented on #205
I guess issue is solved. Re-open if needed.

[2021-02-02 10:34] #205 closed

[2021-02-06 07:11] atharmohammad commented on #201
Hey, I would Like to work on this issue

[2021-02-06 08:18] Abhishek-kumar09 commented on #201
Sure, here is the page folder for hireWithUs: https://github.com/codeforcauseorg/codeforcause.org/tree/development/src/views/pages/HireWithUsView

Here is the css for that box:
[code]
[Rectangle 957.zip](https://github.com/codeforcauseorg/codeforcause.org/files/5936476/Rectangle.957.zip)

[2021-02-06 08:19] Abhishek-kumar09 commented on #200
Merged in #206

[2021-02-06 08:19] #200 closed

[2021-02-06 09:57] atharmohammad commented on #201
@Abhishek-kumar09  Thanks mate, I am on it, can you provide me with those ribbons and book icons or should I crop it from the above image,I tried to find them on google but i can't find them similar to these

[2021-02-06 10:51] Abhishek-kumar09 commented on #201
I would provide you those, I just cant find it now. You can replace it with any svg for now. Will try to provide asap.

[2021-02-06 13:44] atharmohammad commented on #201
![update](https://user-images.githubusercontent.com/56029409/107119614-da3d9800-68ae-11eb-8a76-51d3e6105d10.PNG)

1. Can you tell me the Backgroud Color of Boxes  and the component .
2. Also Tell me if there are changes required
Thanks! 👍

[2021-02-06 15:42] Abhishek-kumar09 commented on #201
Create a PR and we will discuss further.

[2021-02-07 18:25] #201 closed

[2021-02-10 09:24] atharmohammad commented on #202
@Abhishek-kumar09  Hey If no one is working on this I would like to take this issue

[2021-02-10 11:25] Abhishek-kumar09 commented on #202
@atharmohammad
Go on.

[2021-02-12 18:56] Abhishek-kumar09 opened #223 "Create Hire-with-us component 4"
The component to make:
![image](https://user-images.githubusercontent.com/48255244/107810008-fb602600-6d91-11eb-8364-273c0dc88382.png)

Please let me know about the any aditional file you want, and react out for any help with the issue.

[2021-02-13 08:44] #202 closed

[2021-02-13 15:04] niteshsinha17 commented on #223
Hii, i would like to work on this. ☺
I will reach out to you for any requirements.

[2021-02-13 15:20] PrashubhAtri commented on #223
Hey at what url would you like this page to be??
Also, any specific styling in mind or its upto us??

[2021-02-13 15:47] niteshsinha17 commented on #223
I think it will be used in a different page as a component. Am I right? @Abhishek-kumar09

[2021-02-13 16:18] Abhishek-kumar09 commented on #223
It is a subset of https://github.com/codeforcauseorg/codeforcause.org/issues/199

The pages and routes are already created you just have to make a component.

The route is `/hirewithus`

The page folder is https://github.com/codeforcauseorg/codeforcause.org/tree/development/src/views/pages/HireWithUsView

Just you have to make this component and import it here: https://github.com/codeforcauseorg/c

[2021-02-13 16:23] Abhishek-kumar09 commented on #223
To make those smaller shapes
[code]
Required files:
[hr4.zip](https://github.com/codeforcauseorg/codeforcause.org/files/5976026/hr4.zip)

[2021-02-13 16:27] Abhishek-kumar09 commented on #223
make sure you are working with latest development branch.

[2021-02-13 16:39] PrashubhAtri commented on #223
The component to be imported is to be added at the very top ??

[2021-02-13 17:41] Abhishek-kumar09 commented on #223
[Hire With us-min.pdf](https://github.com/codeforcauseorg/codeforcause.org/files/5976168/Hire.With.us-min.pdf)

First of all, let me know who is working on this issue and who like to take up @PrashubhAtri @niteshsinha17 so as to avoid confusion and redundant PR.

[2021-02-13 17:44] PrashubhAtri commented on #223
I am willing to work and have started creating the component

[2021-02-13 17:53] niteshsinha17 commented on #223
I have started to work on it since I have commented. It will great if @Abhishek-kumar09 can help in this situation. Thank you.

[2021-02-13 18:12] Abhishek-kumar09 commented on #223
I don't know but since @niteshsinha17 has commented earlier on this issue with quote: `"Hii, i would like to work on this."`, this particular issue goes to him.

I would like to ask for apology from @PrashubhAtri.

But no worries I will be assigning and giving you a brand new issue to work on, chill.

[2021-02-13 18:13] PrashubhAtri commented on #223
no problem I understand. Looking forward to some new issues to work on.

[2021-02-14 19:24] niteshsinha17 commented on #223
@Abhishek-kumar09 Hii, I have created the required component but I want to know what to do with image part in phone view. Should I hide it or show it at the bottom of the text?

[2021-02-14 19:56] Abhishek-kumar09 commented on #223
In the phone view, the image should some up followed by the text and then button

[2021-02-15 05:00] atharmohammad opened #228 "Developer Component is not Mobile Friendly"
![dev](https://user-images.githubusercontent.com/56029409/107906937-61a69d80-6f78-11eb-968d-a35711ea0bb8.PNG)

### This Component was Breaking in mobile .
(https://github.com/codeforcauseorg/codeforcause.org/blob/development/src/views/pages/HireWithUsView/Developer/Developer.js )

[2021-02-15 05:02] atharmohammad commented on #228
@Abhishek-kumar09  This was also breaking on mobile and firefox so I will be making it responsive as well Tell me if its ok

[2021-02-15 13:19] niteshsinha17 commented on #223
I think we can use those shapes as image and position them as their position. If you agree then I can create it, else I will be styling them using css.

[2021-02-15 13:50] Abhishek-kumar09 commented on #223
Whatever you like, do you need the images

[2021-02-15 14:25] niteshsinha17 commented on #223
If you can send then please send. Otherwise I will design it.

[2021-02-15 15:32] Abhishek-kumar09 commented on #223
[Rectangle 103.zip](https://github.com/codeforcauseorg/codeforcause.org/files/5982526/Rectangle.103.zip)

Just rotate and resize these and things will work fine.

[2021-02-15 15:48] niteshsinha17 commented on #223
Thanks

[2021-02-15 16:22] #228 closed

[2021-02-15 17:00] niteshsinha17 commented on #223
Hii, `npm run format` is formatting every file. It will show changes in my PR. what should I do?

[2021-02-15 17:09] niteshsinha17 commented on #223
I have checked it again. No file is actually changed accept few ones but why they are showing changed by the git? I think it my not reflect in my PR.

[2021-02-15 18:21] Abhishek-kumar09 commented on #223
npm run foramt formats your code that should align to pre-written coding style configuration. It is required to run npm run format after doing cchanges so that code comes in a good written format. You can add those changes to git and commit it in the PR.

[2021-02-15 18:23] Abhishek-kumar09 commented on #223
@niteshsinha17 Create a PR and we will discuss further steps there.

[2021-02-16 01:22] niteshsinha17 commented on #223
I have created PR for it.

[2021-02-18 05:03] Anuragtech02 commented on #92
Hey @Abhishek-kumar09 I'd like to work on this, could you please assign this to me ?

[2021-02-18 08:50] Abhishek-kumar09 commented on #92
@Anuragtech02 the work is in progress by @Itsaadarsh. I guess he is not active due to some other commitments, you can take on the issue-with the work done by him, if he is fine.
@Itsaadarsh ping

[2021-02-18 11:43] Itsaadarsh commented on #92
Hey @Abhishek-kumar09 I'm really sorry I got caught up in some other project of mine, don't worry I'll resolve this issue by tonight and commit all the changes! Thanks!

[2021-02-18 14:16] #223 closed

[2021-02-18 22:01] Creatoon commented on #110
@Abhishek-kumar09 I think noone is working on this issue,  so do i have to add "coming soon" Text on the button instead of apply now if the aria-disabled is true,  and if the aria-disabled will be false then the button text should return to its initial text which is "Apply now".

Am I right?

[2021-02-19 05:14] SumaiyaSafdar commented on #92
Hey @Abhishek-kumar09  I'm extremely to new to open source contribution. I'd love to contribute to the organization, I only know java language and web development. Can you help me with my first contribution.

[2021-02-19 05:19] SumaiyaSafdar commented on #143
Hey @Abhishek-kumar09 , I wanted to work on this issue .Can you help me with my first contribution?

[2021-02-19 05:33] SumaiyaSafdar commented on #109
hey @Abhishek-kumar09 can I work on this??

[2021-02-19 08:02] Abhishek-kumar09 commented on #109
@SumaiyaSafdar Yes you can work on it.

@prichoms Sorry, I didn't see your comment on time, its always a good practice to tag people you want to convey your message to, this way notification didn't get missed out.

[2021-02-19 08:03] Abhishek-kumar09 commented on #109
@SumaiyaSafdar yes you can start working on it.

[2021-02-19 08:05] Abhishek-kumar09 commented on #143
Yes ofcourse, let me know if you need some help.

[2021-02-19 08:10] Abhishek-kumar09 commented on #110
@Creatoon No see `aria-label` has to nothing to with the button text here. `Aria-label` is just a kind of label that is only helpful in when someone uses screen narrator.

What you have to is just change "Apply Now"to "Coming soon".

[2021-02-21 09:50] Abhishek-kumar09 opened #232 "Remove errors from developer console window on coursepage"
We need to get rid of all the errors from the developer console window from the coursepage.
Most of the errors are already removed in https://github.com/codeforcauseorg/codeforcause.org/pull/197

[2021-02-21 09:51] Abhishek-kumar09 commented on #92
closed in #197

[2021-02-21 09:51] #92 closed

[2021-02-21 09:53] Abhishek-kumar09 commented on #232
@PrashubhAtri Do you want take this?

[2021-02-21 10:02] PrashubhAtri commented on #232
Yes I will get started with it

[2021-02-22 18:24] PrashubhAtri commented on #232
@Abhishek-kumar09
![image](https://user-images.githubusercontent.com/53150484/108752283-45eb5a80-7569-11eb-99ca-817f17e4e613.png)
What is this tag for ?

[2021-02-22 18:32] PrashubhAtri commented on #232
I am unable to find errors on the course page can you please share the errrors screenshot

[2021-02-22 18:36] Abhishek-kumar09 commented on #232
@PrashubhAtri click on any course, and then you get course page.
like this page: https://sandbox.codeforcause.org/courses/ds-algo-with-java

[2021-02-22 18:41] PrashubhAtri commented on #232
Ok

[2021-02-22 19:00] PrashubhAtri commented on #232
Also I have to make contributions against which branch ??

[2021-02-23 16:42] PrashubhAtri commented on #232
I have created a PR please check @Abhishek-kumar09

[2021-02-26 14:51] SumaiyaSafdar commented on #109
hey @Abhishek-kumar09  can you please help me the basics?
how to start? what is my work

[2021-02-26 14:53] SumaiyaSafdar commented on #143
hey @Abhishek-kumar09  I'm new to this .I'll be highly obliged if you'd enlighten me the basics

[2021-02-27 06:00] kulendu opened #234 "Making the footer section center aligned"
The footer section (the copyright section) appeared to be left-aligned, but I think making it center-aligned will look symmetrical. And I can work on this issue. @Abhishek-kumar09  If this issue/change helpful I can make it.
<hr>

### After :
![CFC-home](https://user-images.githubusercontent.com/56751963/109377064-dc63a700-78ee-11eb-9ef9-263d58ccd2c9.png)

### Before (if the change is to made) :
!

[2021-02-27 15:53] Abhishek-kumar09 commented on #234
@kulendu We strictly go with the figma design we have built, but still thanks for the change request, if you have done the changes, you can create a Pull request. If other maintainers/designer approve them, then I will be very happy to merge it. Still I can't gurantee if they would like it, waiting for your PR :)

[2021-02-27 15:58] Abhishek-kumar09 commented on #109
@SumaiyaSafdar You can go through different files inside the `src/` directory and look for the comments that are not adding any value to the code, like only the commented out codes.

See comments are meant to add some description to the code written, but many a times, we left the comments that are not useful for the future, like (commenting code that is not working just to start the server, etc).

[2021-02-28 10:34] naveen8801 commented on #234
Hi @Abhishek-kumar09 , i have made the necessary changes with PR , i hope it will help .

[2021-03-01 09:16] SumaiyaSafdar commented on #109
Thank you so much @Abhishek-kumar09 ,I'll get back to you asap ,it's an easy work. A very big thanks for your help.

[2021-03-03 09:01] #232 closed

[2021-03-16 11:37] SumaiyaSafdar commented on #109
@Abhishek-kumar09  I've created a PR .Please look to it.

[2021-03-21 09:55] sarvesha-jaiswal commented on #144
is the issue is still open ? can i work on it?

[2021-03-22 18:36] Abhishek-kumar09 commented on #144
Yes, here is the theme written: https://github.com/codeforcauseorg/codeforcause.org/blob/development/src/theme/index.js

You can change all the points were colors were written explicitly to the theme variables

[2021-03-25 16:16] sarvesha-jaiswal commented on #144
yes sure!

[2021-03-27 02:49] Anishpras commented on #144
Would like to work on this.

[2021-03-27 15:59] sarvesha-jaiswal commented on #144
@Anishpras sorry, but i have started working on this issue, maybe if i need any help i will contact you

Thanks

[2021-04-10 08:21] UdattaChowdhury commented on #58
Hello sir, I am a beginner and would like to take up this issue. Could you guide me on how can I go ahead?

[2021-04-21 19:28] yashsehgal commented on #143
Hey folks! If this issue is still open then can I start working on it?

[2021-04-23 10:03] Abhishek-kumar09 commented on #143
Yes, sure.

You have to add some natural hover effects on the components.

[2021-04-23 10:31] yashsehgal commented on #143
Thanks @Abhishek-kumar09
Are there any specific cards on which I need to work or every card present on the website?

[2021-04-28 15:51] Abhishek-kumar09 commented on #143
I guess all the cards need some type of effect for a refined look

[2021-05-09 16:39] adarsh500 commented on #199
Hey, @Abhishek-kumar09 this is my first time here. I would like to work on this. If there is anything I can do to help then please let me know.

[2021-05-12 06:19] Abhijay007 opened #263 "Unwanted swiper-pagination-bullet."
There is an unwanted swiper-pagination-bullet on the home page.

***screenshot***

![Screenshot (20)](https://user-images.githubusercontent.com/64387054/117927535-f589ca80-b317-11eb-88b2-a71008f7d134.png)

[2021-05-12 14:50] carltos0411 commented on #263
@Abhijay007 @vasudevsinghal  I want to work on this issue

[2021-05-14 08:02] Abhishek-kumar09 commented on #199
Hi @adarsh500 This issue's children are closed, maybe there is need of some nits for the page, it is open for that. If you find any issue with hireWithUs page you can make a PR.
If you want to work on some newer issues This is the list of issues that we need help with https://github.com/codeforcauseorg/causefolio/issues

If you want I can create some newer issues from design component or share the

[2021-05-19 11:12] ritik-vashist opened #264 "Alignment of a part of a footer."
The footer section (the copyright section) appeared to be left-aligned, but I think making it center-aligned will look symmetrical. And I can work on this issue. @Abhishek-kumar09 If this issue/change helpful I can make it.

[2021-05-20 12:15] Srinjoycode opened #267 "Typographic error on a page"
The FAQ section of Elastic weekend + Hackathon page appears to have a typo in the last question

[2021-05-20 14:06] NikhilSharma03 commented on #267
@Srinjoycode Yes, I have fixed it. Can you please check PR #268

[2021-05-21 13:26] mr-robot-007 opened #269 "Nav bar (mobile view) alignment isssue"
![Screenshot from 2021-05-21 18-55-25](https://user-images.githubusercontent.com/72905336/119144288-27acd200-ba66-11eb-8143-a2dcc77c9cc8.png)

[2021-05-21 13:32] mr-robot-007 commented on #269
#270 I have fixed this in this PR

[2021-05-22 12:35] mayankchaudhary19 opened #272 "Redesigning navigation drawer (mobile view)"
Navigation drawer for mobile view:
<table>
<tr>
<td>
Old -

![nav-drawer-old](https://user-images.githubusercontent.com/43718753/119226386-6bffa700-bb26-11eb-950f-2cbe6475fab6.png)
</td>
<td>
New-

![nav-drawer-new](https://user-images.githubusercontent.com/43718753/119226383-6ace7a00-bb26-11eb-9fd4-76aae9121d72.png)
</td>
</tr>
</table>

Required files-

[nav-mobile.zip](https://github.com/codefo

[2021-05-22 13:34] mayankchaudhary19 commented on #272
I would like to work on this issue

[2021-05-22 13:46] KeenWarrior commented on #272
Please go ahead. 👍

[2021-05-23 07:35] mayankchaudhary19 commented on #272
I have redesigned the drawer for mobile view:

<img src="https://user-images.githubusercontent.com/43718753/119251755-d3206880-bbc5-11eb-9671-deb0474fd2da.jpeg" width="200" height="400" />

Web view:

https://user-images.githubusercontent.com/43718753/119252006-44145000-bbc7-11eb-9a46-461bc584304d.mp4

Also, changed the login button as shown above [down(sm)]. Please have a look and give suggestion

[2021-05-23 08:03] KeenWarrior commented on #272
Raise the pull request.

[2021-05-23 11:10] mayankchaudhary19 commented on #272
Raised the pull request, please check #273

[2021-05-26 08:11] mayankchaudhary19 commented on #272
@KeenWarrior  @GangaChatrvedi please review the PR #273

[2021-05-27 11:32] #272 closed

[2021-05-29 19:51] gauravk268 commented on #264
I think this issue is resolved and PR has been opened for this in [issue #234](https://github.com/codeforcauseorg/codeforcause.org/issues/234). @Abhishek-kumar09 this issue can be closed.

[2021-06-02 07:45] #264 closed

[2021-06-05 07:34] #269 closed

[2021-06-05 07:35] #267 closed

[2021-06-05 07:36] KeenWarrior commented on #263
GO ahead @carltos0411

[2021-06-05 07:38] #41 closed

[2021-06-05 07:38] #58 closed

[2021-06-07 07:03] priyansh11786 commented on #263
I am just a beginner in open source and I am looking forward to work on this issue, Can someone help me through it. Thanks in advance!

[2021-06-08 13:58] adityababar07 commented on #234
I have made the pull request can you check

[2021-06-08 14:16] maahiunnati opened #286 "Dissimilar behaviour of same section button"
<h3 ><b>Without hovering or checked over any button its there</b></h3>

![Screenshot (23)_LI](https://user-images.githubusercontent.com/74832066/121200978-c83a2900-c891-11eb-9159-094490a19412.jpg)

[2021-06-11 10:22] Arkashish commented on #199
Hi @Abhishek-kumar09 . I'm extremely new to open source and I would like to contribute can you please help me getting started.

[2021-06-13 09:10] Abhishek-kumar09 commented on #199
Hi @Arkashish thanks for stopping by.
This issue is closed for now, since the children issues are already solved.
If you want there are several other projects that  need your help like click-short, causefolio, edu-server.
You can help there, try to pick an issue or setup the development environment and find issues for yourself to work on.

[2021-06-13 09:10] #199 closed

[2021-06-13 11:34] Anmolreshi opened #290 "Our Team Section of page"
I would like to work on Our Team page , Basically would like to work on CSS part adding effects on hover of page .

[2021-06-17 13:13] niteshseram commented on #286
Hello, can I work on this issue?

[2021-06-23 14:43] Anmolreshi commented on #290
?

[2021-06-29 06:02] Abhijay007 commented on #263
@priyansh11786 sorry for the late response you can follow these steps for Opening a PR in future.

first follow these steps to setup project locally in your machine:

**1.** Fork [this](https://github.com/codeforcauseorg/codeforcause.org) repository.

**2.** Clone your forked copy of the project.

[code]

**3.** Navigate to the project directory :file_folder: .

[code]

**4.** Add a reference(remo

[2021-07-21 01:30] SugatoBagchi commented on #263
Hello @Abhijay007

It's been a long time I guess Priyansh is not working on this issue.

Can I start working on this issue? I am getting started with open-source. Thank you!

[2021-07-21 03:12] KeenWarrior commented on #263
Sure. Go ahead @SugatoBagchi

[2021-11-28 04:51] khushbooag4 commented on #144
Is this issue still open

[2021-12-12 14:19] Abhishek-kumar09 commented on #144
Oh hi @khushbooag4 Sorry I was missing the notifications for the vacations.  I think this issue isn't fixed.
Better to able to create a toggle for dark mode.
The theme is already defined for dark:

https://github.com/codeforcauseorg/codeforcause.org/blob/0a5308d6772edb47508b4d012314c13e7fe941e5/src/theme/index.js#L69-L98

and applying a dark theme is done in mui in an easy way: https://adityanaik.

[2021-12-12 17:12] KeenWarrior commented on #144
@khushbooag4 We do not have the figma sheets ready for what we expect in dark mode. So completion of this issue will become ambiguous at this moment.